# macOS
.DS_Store

# Ficheiros de instruções (não fazem parte do projeto)
instrucoes_download_vscode.docx
instrucoes_git_vscode.pdf

# Relatório (mantido fora do repositório por agora)
Relatorio_Projeto_TAW_Grupo2.docx
